policy_module(qmjudge,1.0);
require {
    role unconfined_r, system_r;
};

attribute qmjudge_workproc;
type qmjudge_worker_t, qmjudge_workproc;
type qmjudge_compiler_t, qmjudge_workproc;
type qmjudge_jail_t;

type qmjudge_workdir_t;
type qmjudge_problem_t;
type qmjudge_usercode_t;
type qmjudge_scripts_t;
type qmjudge_compiler_exec_t;

domain_type(qmjudge_worker_t);
domain_type(qmjudge_compiler_t);
domain_type(qmjudge_jail_t);
domain_entry_file(qmjudge_worker_t, qmjudge_scripts_t);
domain_entry_file(qmjudge_compiler_t, qmjudge_compiler_exec_t);
domain_entry_file(qmjudge_jail_t, qmjudge_usercode_t);
corecmd_executable_file(qmjudge_workdir_t);
corecmd_executable_file(qmjudge_usercode_t);
corecmd_executable_file(qmjudge_scripts_t);
files_type(qmjudge_problem_t);


domain_auto_trans(domain, qmjudge_compiler_exec_t, qmjudge_compiler_t);
domain_auto_trans(domain, qmjudge_scripts_t, qmjudge_worker_t);
domain_auto_trans(domain, qmjudge_workdir_t, qmjudge_worker_t);
domain_auto_trans(domain, qmjudge_usercode_t, qmjudge_jail_t);
type_transition qmjudge_compiler_t qmjudge_workdir_t:file qmjudge_usercode_t;

allow qmjudge_worker_t qmjudge_problem_t:dir {getattr search open read};
allow qmjudge_worker_t qmjudge_problem_t:file {getattr open read};
allow qmjudge_workproc domain:fd use;
allow qmjudge_workproc domain:fifo_file {read write getattr ioctl};
allow qmjudge_workproc domain:process {setrlimit sigchld signal getsched execmem};
allow qmjudge_workproc qmjudge_scripts_t:dir {getattr search open read};
allow qmjudge_workproc qmjudge_scripts_t:file {getattr open read execute execute_no_trans};
allow qmjudge_workproc qmjudge_workdir_t:dir {getattr search open read write add_name};
allow qmjudge_workproc qmjudge_workdir_t:file {getattr create open write setattr};
corecmd_exec_bin(qmjudge_workproc);
corecmd_exec_shell(qmjudge_workproc);
files_list_home(qmjudge_workproc);
files_list_root(qmjudge_workproc);
files_manage_generic_tmp_dirs(qmjudge_workproc);
files_manage_generic_tmp_files(qmjudge_workproc);
files_read_etc_files(qmjudge_workproc);
files_read_usr_files(qmjudge_workproc);
kernel_read_kernel_sysctls(qmjudge_workproc);
kernel_read_sysctl(qmjudge_workproc);
kernel_read_system_state(qmjudge_workproc);
libs_exec_lib_files(qmjudge_workproc);
miscfiles_read_localization(qmjudge_workproc);
role object_r types qmjudge_workproc;
role unconfined_r types qmjudge_workproc;
userdom_list_user_home_content(qmjudge_workproc);
userdom_list_user_home_dirs(qmjudge_workproc);
userdom_use_user_ttys(qmjudge_workproc);

allow qmjudge_jail_t domain:fd use;
allow qmjudge_jail_t domain:fifo_file {read getattr};
allow qmjudge_jail_t domain:process sigchld;
allow qmjudge_jail_t qmjudge_workdir_t:file write;
userdom_use_user_ttys(qmjudge_jail_t);
role unconfined_r types qmjudge_jail_t;
role object_r types qmjudge_jail_t;

